@charset "utf-8";

body {
  margin-left: 20px;
}
.head {
  margin-bottom: 20px;
}
.head .title {
  font-weight: bold;
}
.body {
  margin-bottom: 40px;
}

.goto-top-section {
  margin-top: 40px;
  margin-bottom: 30px;
}
.goto-top {
  font-size: 12px;
}

.section {
  margin-bottom: 20px;
}
.section .content {
  margin-left: 20px;
  font-size: 14px;
}
.section .content .note {
  font-size: 12px;
}
.section .content .note-more {
  font-size: 12px;
  margin-top: 10px;
}
.section .content .note-indent {
  margin-left: 20px;
}

.latest-table {
  width: 725px;
  border-collapse: collapse;
  border: solid 1px #808080;
  font-size: 12px;
}
.latest-table th {
  width: 210px;
  border: solid 1px #808080;
  vertical-align: top;
  text-align: left;
  font-weight: 400;
}
.latest-table td {
  border: solid 1px #808080;
}

.margin-separater {
  margin-top: 10px;
}
